<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
</head>
<body>
<%= current_user ? "Hello #{current_user.user_name}" : link_to('Log in!', new_session_url) %>
<br>
<%= button_to 'Log Out', session_url, method: :delete if current_user %>
<%= yield %>

</body>
</html>
